# This file is used to define who owns certain parts of the repository.
# For more information, see: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @wajoud
